.a {
    height: 400px;
    width: 400px;
    background-color: orange;
    position: relative;
    left: 70px;
    top: 40px;
}

.b {
    height: 100px;
    width: 100px;
    background-color: green;
    position: relative;
    left: 70px;
    top: 40px;
}