@font-face {
    src: url('fonts/Roboto-Regular.woff') format('woff'),
         url('fonts/Roboto-Regular.ttf') format('truetype');
    font-family: Roboto;
}

@font-face {
    src: url('fonts/ProximaNova-Light.woff') format('woff'),
         url('fonts/ProximaNova-Light.ttf') format('truetype');
    font-family: Proxima;
    font-weight: 300;
}

@font-face {
    src: url('fonts/ProximaNova-Regular.woff') format('woff'),
         url('fonts/ProximaNova-Regular.ttf') format('truetype');
    font-family: Proxima;
   
}
body {
    font-size: 16px;
    font-family: Roboto;
}

/* =======================HEADER=================== */
.page-header, .page-footer {
    height: 67px;
    width: 100%;
    background-color: #f7c61d;
}

.wrapper {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}

.page-header .wrapper, .page-footer .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

.page-header nav a {
    font-family: Proxima;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 35px;
}
/* ===================Footer============== */
.page-footer {
    margin: 100px 0;
}

.page-footer>.wrapper>* {
    width: 33.33%;
}

.copy {
    font-family: Proxima;
    font-weight: 300;
    font-size: 13px;
    color: #a78613;
}

.socials {
    display: flex;
    justify-content: flex-end;
}

.socials a {
    display: block;
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 50%;
    color: #f7c61d;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 10px;
}

.footer-nav a {
    text-decoration: none;
    color: black;
    padding: 0 18px;
}