div {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.circle-1 {
    background: rgb(0,255,0);
}

.circle-2 {
    position: absolute;
    top: 0;
    left: 200px;
    background: rgba(0,0,255, 0.5);
    font-size: 30px;
    padding-left: 60px; 
    padding-top: 100px;
    box-sizing: border-box;
    color: black;

}