div {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.circle-1 {
    background: rgb(0,255,0);
}

.circle-2 {
    position: absolute;
    top: 0;
    left: 300px;
    background: rgb(0,0,255);
    opacity: 0.5;
}