body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

label:hover {
    cursor: pointer;
}

/* =============HEADER==========
================================= */

.page-header {
    height: 50px;
    width: 100%;
    background-color: #0c0c0c;
    color: rgb(191, 191, 191)
}

.page-header a {
    color: inherit;
}

.header-left {
    float: left;
    display: flex;
    height: 100%;
}

.header-right {
    float: right;
    display: flex;
    height: 100%;
    align-items: center;
}

.page-nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 15px;
}

.page-nav ul li {
    margin: 0 0 0 5px;
    text-transform: capitalize;
}

.page-nav ul li::after {
    content: "|";
    margin-left: 5px;
}

.page-nav ul li:last-child::after{
    content: "";
}

.page-nav a:hover {
    color: #fff;
}

.page-logo {
    position: relative;
    width: 60px;
}

.page-logo img {
    width: 100%;
    position: absolute;
}

.search-switcher-label {
    margin: 0 15px;
}

.page-search-field {
    width: 0;
    visibility: hidden;
}

.international-block {
    background: rgba(0,0,0,.9);
    position: absolute;
    top: 50px;
    padding: 8px 15px 15px;
    width: 250px;
    left: -70px;
    box-sizing: border-box;
    font-weight: 300;
    display: none;
}

#international-switcher:checked~.international-block {
    display: block;
}

.international-edition {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.international-block ul {
    text-align: right;
}

.international-block ul li {
    margin-bottom: 20px;
    padding: 0 15px;
}

.international-block hr {
    background: transparent;
    border: 0;
    border-top: 1px solid #bfbfbf;
}

.international-block p {
    text-align: right;
}

.flex-block {
    display: flex;
}

.row-block.flex-block {
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 15px;
}

.row-block.flex-block label:nth-of-type(1) {
    margin-right: auto;
}

.row-block.flex-block input {
    margin-right: 5px;
}

.row-block.flex-block:nth-of-type(2) {
    justify-content: flex-end;
}

.confirm {
    background: transparent;
    border: 1px solid #bfbfbf;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    color: #bfbfbf;
    font-size: 15px;
}