a:link {
    color: red;
}

a:visited {
    color: yellow;
}

a {
    display: block;
    width: 200px;
    height: 50px;
    background: #4444ff;
    font-family: Arial;
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    text-decoration: none;
}

a:hover {
    background: #3333cc;
}

a:active {
    background: #2222cc;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

