p {
    font-size: 20px;
    color: #0000ff;
}

p:first-child {
    color: red;
}

p:last-child {
    color: yellow;
}

p:nth-child(1) {
    color: red;
}

p:first-of-type {
    background: #f2f2f2;
}

p:last-of-type {
    background: #f2f200;
}

p:nth-of-type(2n) {
    background: rgba(255,0,0,0.5);
}